{% extends "layouts/base.html" %}

{% block title %} Grupos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-8 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Agrupamiento por barrios</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Grupos</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div id="map" style="height:638px; width: 100%;">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_JBKNW8FXmtu0f1APiMUHd1KtxuiXJo&libraries=geometry"></script>
            <script src="/static/assets/js/map.js"></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_JBKNW8FXmtu0f1APiMUHd1KtxuiXJo&callback=initMap"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='assets/js/barrios.json') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='assets/js/barrios-cluster.json') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='assets/js/accident.json') }}"></script>
            
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
        
        
            <div class="mensaje">
                En el mapa se muestran los barrios coloreados según el cluster 
                o grupo al que pertenecen. Dando click izquierdo sobre un barrio,
                se mostrará un mensaje con las estadísticas de accidentes en la zona,
                nombre y clúster al que pertenece. Hay algunos barrios de los cuales 
                no se tiene uno o varios registros, por lo que aparecen en color gris
                y/o con el mensaje de 'Sin registro'.
            </div>
            <br>
            <br>
            <h1 style="text-align: center;">Gráfico de agrupamiento</h1>
            <div class="mensaje">
                A continuación se muestra un gráfico de dispersión tridimensional. 
                Los puntos se colorearán según el cluster o grupo, lo que permite 
                visualizar cómo se agrupan o distribuyen los datos históricos utilizados en 
                el desarrollo de esta 'app' en el espacio tridimensional 
                en función de su asignación a diferentes clusters.
            </div>
        
  
        <!-- Agrega un mensaje o leyenda en una esquina del mapa -->
        <div id="mensaje-leyenda" style="position: absolute; top: 5px; right: 10px; background-color: white; padding: 10px; border: 1px solid #ccc;">
            <h4>Leyenda Colores</h4>
            <p style="line-height: 0.3;"><span style="display: inline-block; width: 8px; height: 8px; background-color: #FF0000; margin-right: 5px; font-size: 10px;"></span> Cluster 1</p>
            <p style="line-height: 0.3;"><span style="display: inline-block; width: 8px; height: 8px; background-color: #00FF00; margin-right: 5px; font-size: 10px;"></span> Cluster 2</p>
            <p style="line-height: 0.3;"><span style="display: inline-block; width: 8px; height: 8px; background-color: #0000FF; margin-right: 5px; font-size: 10px;"></span> Cluster 3</p>
            <p style="line-height: 0.3;"><span style="display: inline-block; width: 8px; height: 8px; background-color: #FFD700; margin-right: 5px; font-size: 10px;"></span> Cluster 4</p>
            <p style="line-height: 0.3;"><span style="display: inline-block; width: 8px; height: 8px; background-color: #FF1493; margin-right: 5px; font-size: 10px;"></span> Cluster 5</p>
            <p style="line-height: 0.3;"><span style="display: inline-block; width: 8px; height: 8px; background-color: #808080; margin-right: 5px; font-size: 10px;"></span> Otro</p>
            <!-- Agrega más descripciones de colores según tus necesidades -->
        </div>
          
        <div style="text-align: center;">
            <iframe src="{{ url_for('static', filename='html/eumio.html') }}" width="800" height="600" frameborder="0"></iframe>
        </div>

    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
