{% extends "layouts/base.html" %}

{% block title %} Grupos {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-8 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Agrupamiento por barrios</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Grupos</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <!-- ============================================================== -->
        <!-- Start Page Content -->
        <!-- ============================================================== -->
        <div id="map" style="height: 400px; width: 100%;">
            <!-- ============================================================== -->
            <!-- Start Page Content -->
            <!-- ============================================================== -->
            <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_JBKNW8FXmtu0f1APiMUHd1KtxuiXJo&libraries=geometry"></script>
            <script src="/static/assets/js/map.js"></script>
            <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCO_JBKNW8FXmtu0f1APiMUHd1KtxuiXJo&callback=initMap"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='assets/js/barrios.json') }}"></script>
            <script type="text/javascript" src="{{ url_for('static', filename='assets/js/barrios-cluster.json') }}"></script>
            
            <!-- ============================================================== -->
            <!-- End PAge Content -->
            <!-- ============================================================== -->
        </div>
        <!-- ============================================================== -->
        <!-- End PAge Content -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

{% endblock content %}

{% block javascripts %}{% endblock javascripts %}
