
{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}

    <!-- chartist CSS -->
    <link href="/static/assets/plugins/chartist-js/dist/chartist.min.css" rel="stylesheet">
    <link href="/static/assets/plugins/chartist-js/dist/chartist-init.css" rel="stylesheet">
    <link href="/static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.css" rel="stylesheet">
    <!--This page css - Morris CSS -->
    <link href="/static/assets/plugins/c3-master/c3.min.css" rel="stylesheet">

{% endblock stylesheets %}

{% block content %}

    <!-- ============================================================== -->
    <!-- Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <div class="page-breadcrumb">
        <div class="row align-items-center">
            <div class="col-md-6 col-8 align-self-center">
                <h3 class="page-title mb-0 p-0">Accidentalidad en la Ciudad de Medellín Antioquia (Colombia)</h3>
                <div class="d-flex align-items-center">
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
    <!-- ============================================================== -->
    <!-- End Bread crumb and right sidebar toggle -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Container fluid  -->
    <!-- ============================================================== -->
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-7 col-xlg-7">
                <div class="card">
                    <!-- Nav tabs -->
                    <ul class="nav nav-tabs profile-tab" role="tablist">
                        <li class="nav-item"> <a class="nav-link active" data-bs-toggle="tab" href="#home"
                                role="tab">Sobre la App</a> </li>
                        <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#instructions"
                                role="tab">Instrucciones</a>
                        </li>
                        <li class="nav-item"> <a class="nav-link" data-bs-toggle="tab" href="#legal"
                                role="tab">Legal</a>
                        </li>
                    </ul>
                    <!-- Tab panes -->
                    <div class="tab-content">
                        <div class="tab-pane active" id="home" role="tabpanel">
                            <div class="card-body">
                                <h4 class="font-medium mt-4">AcciPrevent Medellín</h4>
                                <p class="mt-4">En esta aplicación y trabajo se aborda el problema de analizar y predecir la accidentalidad en la ciudad de Medellín a partir de la historia reciente de los accidentes reportados.</p>
                                <p class="mt-4">Realizado por estudiantes de la Universidad Nacional de Colombia sede Medellín.</p>
                                <hr>
                                <h4 class="font-medium mt-4"><a class="mt-2" href="https://github.com/DataMastersUN/FA_T2">Enlace Repositorio</a></h4>
                            </div>
                        </div>
                        <div class="tab-pane" id="instructions" role="tabpanel">
                            <div class="card-body">
                                <h4 class="font-medium mt-4 mb-2">Instrucciones de Uso</h4>
                                <span>En el menú a la izquierda, podrás acceder a las siguientes funcionalidades</span>                                
                                <span class="ms-auto"><h5 class="d-flex mt-4"><b>Visualizar:</b></h5> Te permite seleccionar una ventana de tiempo y obtener los datos históricos de accidentalidad por tipo de accidente.</span>                             
                                <hr>
                                <span class="ms-auto"><h5 class="d-flex mt-2"><b>Predecir:</b></h5> Te permite predecir la accidentalidad por tipo de accidente utilizando una ventana y una resolución temporal definidas por el usuario.</span>                             
                                <hr>
                                <span class="ms-auto"><h5 class="d-flex mt-2"><b>Agrupar:</b></h5> Te permite visualizar los grupos de barrios en un mapa. Al seleccionar un barrio podrás visualizar las características del barrio y las del grupo al que pertenece.</span>                             
                                <hr>
                                <span class="ms-auto"><h5 class="d-flex mt-2"><b>Video Promocional:</b></h5>Mira nuestro video promocional en youtube donde se explica los beneficios de utilizarla y el cómo se usa.</span>                             
                                <hr>
                                <span class="ms-auto"><h5 class="d-flex mt-2"><b>Reporte Técnico:</b></h5>Consulta nuestro reporte que contiene el entendimiento desarrollado en el trabajo, su bibliografía de soporte y la metodología seguida debidamente justificada.</span>                             
                            </div>
                        </div>
                        <div class="tab-pane" id="legal" role="tabpanel">
                            <div class="card-body">
                                <h4 class="font-medium mt-4">Legal</h4>
                                <p>Todos los derechos reservados. Queda estrictamente prohibida la reproducción, copia, distribución o cualquier otro uso no autorizado de esta aplicación. Este software se proporciona con fines académicos y su uso está restringido a dichos fines.</p>
                                <p>El insumo principal de este trabajo son los [datos abiertos de incidentes viales](http://medata.gov.co/dataset/incidentes-viales) que publica la Alcaldía de Medellín en el portal [MeData](https://www.http://medata.gov.co/).</p>
                                <h4 class="font-medium mt-4">Tratamiento de Datos Personales:</h4> 
                                <p>Toda la información ingresada en esta aplicación se manejará con la más estricta confidencialidad. No se almacenará, retendrá, ni se compartirá ningún dato personal. Los cálculos realizados dentro de esta aplicación serán eliminados de manera automática una vez que abandone la plataforma</p>                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 col-xlg-5">
                <!-- Column -->                
                <div class="card">
                    <div class="card-body bg-info">
                        <h4 class="text-white card-title">Equipo DataMasters</h4>
                        <h6 class="card-subtitle text-white mb-0 op-5">Miembros del Proyecto</h6>
                    </div>
                    <div class="card-body">
                        <div class="message-box contact-box">
                            <div class="message-widget contact-widget">
                                <!-- Message -->
                                <a href="https://github.com/JavierAsprillaG" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <span class="round">LA</span> <span
                                            class="profile-status online pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Luis Javier Asprilla Galarcio</h5> <span
                                            class="mail-desc">lasprilla@unal.edu.co</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="https://github.com/DavidCastro88" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <span class="round">DC</span> <span
                                            class="profile-status online pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">David Antonio Castro Tamayo</h5> <span
                                            class="mail-desc">dcastrot@unal.edu.co</span>
                                    </div>
                                </a>
                                <!-- Message -->
                                <a href="https://github.com/Anderson-Gt" class="d-flex align-items-center">
                                    <div class="user-img mb-0"> <span class="round">AG</span> <span
                                            class="profile-status online pull-right"></span> </div>
                                    <div class="mail-contnet">
                                        <h5 class="mb-0">Anderson Elian Gutierrez Bueno</h5> <span
                                            class="mail-desc">angutierrezb@unal.edu.co</span>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>            
        </div>        
    </div>
    <!-- ============================================================== -->
    <!-- End Container fluid  -->
    <!-- ============================================================== -->

{% endblock content %}

{% block javascripts %}

    <!-- ============================================================== -->
    <!-- This page plugins -->
    <!-- ============================================================== -->
    <!-- chartist chart -->
    <script src="/static/assets/plugins/chartist-js/dist/chartist.min.js"></script>
    <script src="/static/assets/plugins/chartist-plugin-tooltip-master/dist/chartist-plugin-tooltip.min.js"></script>
    <!--c3 JavaScript -->
    <script src="/static/assets/plugins/d3/d3.min.js"></script>
    <script src="/static/assets/plugins/c3-master/c3.min.js"></script>
    <!--Custom JavaScript -->
    <script src="/static/assets/js/pages/dashboards/dashboard1.js"></script>

{% endblock javascripts %}    
