<!DOCTYPE html>
<html dir="ltr" lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="La aplicación que aborda el problema de predecir la accidentalidad en la ciudad de Medellín a partir de registros históricos recientes, desarrollado por estudiantes de la Universidad Nacional de Colombia">
    <title>
        Datamasters {% block title %}{% endblock %}
    </title>
    
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="/static/assets/images/favicon.png">

    <!-- Specific Page CSS goes HERE  -->
    {% block stylesheets %}{% endblock stylesheets %}

    <!-- Custom CSS -->
    <link href="/static/assets/css/style.min.css" rel="stylesheet">    

</head>
<body>
    <!-- ============================================================== -->
    <!-- Preloader - style you can find in spinners.css -->
    <!-- ============================================================== -->
    <div class="preloader">
        <div class="lds-ripple">
            <div class="lds-pos"></div>
            <div class="lds-pos"></div>
        </div>
    </div>

    <!-- ============================================================== -->
    <!-- Main wrapper - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <div id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full" 
        data-sidebar-position="absolute" data-header-position="absolute" data-boxed-layout="full">

        {% include 'includes/navigation.html' %}

        {% include 'includes/sidebar.html' %}

        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">

            {% block content %}{% endblock content %} 

            {% include 'includes/footer.html' %}

        </div>
        <!-- ============================================================== -->
        <!-- End Page wrapper  -->
        <!-- ============================================================== -->

    </div>

    {% include 'includes/scripts.html' %}

    <!-- Specific Page JS goes HERE  -->
    {% block javascripts %}{% endblock javascripts %}

    <script src="/static/assets/js/custom.js"></script>

</body>
</html>
