<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/" aria-expanded="false"><i class="mdi me-2 mdi-home"></i><span
                            class="hide-menu">Inicio</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{{ url_for('visualization') }}" aria-expanded="false">
                        <i class="mdi me-2 mdi-eye"></i><span class="hide-menu">Visualizar</span></a>
                </li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="{{ url_for('prediction') }}" aria-expanded="false"><i class="mdi me-2 mdi-file-find"></i><span
                            class="hide-menu">Predecir</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="/grouping.html" aria-expanded="false"><i
                            class="mdi me-2 mdi-map-marker-multiple"></i><span class="hide-menu">Agrupar</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="https://www.youtube.com/watch?v=Z0Csmw5_Ef0" aria-expanded="false"><i class="mdi me-2 mdi-youtube-play"></i><span
                            class="hide-menu">Video Promocional</span></a></li>
                <li class="sidebar-item"> <a class="sidebar-link waves-effect waves-dark sidebar-link"
                        href="https://medium.com/@dcastrot/an%C3%A1lisis-y-predicci%C3%B3n-de-la-accidentalidad-en-la-ciudad-de-medell%C3%ADn-colombia-b49d7db60cdf " aria-expanded="false"><i
                            class="mdi me-2 mdi-book-open-variant"></i><span class="hide-menu">Reporte Técnico</span></a>
                </li>
            </ul>

        </nav>
        <!-- End Sidebar navigation -->
    </div>

</aside>
